@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600&display=swap');

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Jura', sans-serif;
}

.black-background {
    background-image: url("imgs/background_heroes.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;

}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.text-container {
    text-align: center;
    padding: 20px;
}

.heroes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto 0;
    padding: 20px;
}

.hero-card {
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.hero-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.hero-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.hero-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
    margin: 0;
    visibility: hidden;
    z-index: 1;
    text-shadow: 0 0 5px black, 0 0 8px black;
    transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
    opacity: 0;
    cursor: default;
}

.hero-card:hover .hero-name {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.hero-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.text-group {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.join-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    letter-spacing: 2px;
}

.battle-text {
    font-size: 50px;
    color: white;
    letter-spacing: 4px;
}