@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600&display=swap');

body {
    background-image: url('C:/Users/vladg/Pictures/project/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxH5rd9eDAjcFyv45SRYAFMIcKL_PArgVSL403ulRUWEndVKv4gJ-cVQsnIQUDsuygLVE41qqbdGobtd-3xYTdwPGiN-iFw20B6cQg2L3D8cL_mFOwhWe93Q.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
    font-family: 'Jura', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

header, main, footer {
    position: relative;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

nav ul li {
    font-size: 45px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 40px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

nav ul li:hover {
    color: white;
}

.menu-item {
    font-size: 45px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color 0.3s;
}

.menu-item:hover {
    color: white;
}

.menu-item.active {
    color: white;
}


.menu-item.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background-color: rgba(255, 165, 0, 1);
    display: block;
}

.menu-item:not(.active)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background-color: transparent;
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-10px);
    position: relative;
    z-index: 1;
}

.text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('C:/Users/vladg/Pictures/project/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxH5rd9eDAjcFyv45SRYAFMIcKL_PArgVSL403ulRUWEndVKv4gJ-cVQsnIQUDsuygLVE41qqbdGobtd-3xYTdwPGiN-iFw20B6cQg2L3D8cL_mFOwhWe93Q.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.text-group {
    text-align: center;
    margin-bottom: 20px;
}

.join-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    letter-spacing: 2px;
}

.battle-text {
    font-size: 50px;
    color: white;
    letter-spacing: 4px;
}

.download-section {
    text-align: center;
    margin-top: 20px;
}

.play-button {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px 15px;
    transition: transform 0.3s;
    display: inline-block;
    margin: 5px 0;
}

.play-button:hover {
    transform: translateY(-5px);
}

.play-button a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 0;
}

.play-button a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.lower-play-button:hover {
    transform: translateY(-5px);
}

.menu-play-button {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px 15px;
    transition: border-color 0.3s, transform 0.3s;
}

.menu-play-button:hover {
    border-color: rgba(255, 165, 0, 1);
    transform: translateY(-5px);
}

.menu-play-button a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 0;
}

.menu-play-button a:hover {
    color: rgba(255, 255, 255, 0.8);
}

footer {
    height: 300vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}